[submodule "srnet_model"]
	path = srnet_model
	url = https://github.com/Gullbra/Pytorch-implementation-of-SRNet.git
[submodule "rs_analysis"]
	path = rs_analysis
	url = https://github.com/Gullbra/RS-analysis
